@charset "utf-8";
/* 整体布局 */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}
html {
  padding: 0;
  margin: 0;
}
li.bg,
.bg {
  clear: both;
  border-bottom: 1px dashed #818181;
  padding: 0;
  margin: 10px 0;
  background: none;
  list-style: none;
}
p.clr,
.clr {
  clear: both;
  padding: 0;
  margin: 0;
}
.main {
  margin: 0 auto;
  padding: 0;
}

/* header */
.header_nav {
  margin: 0 auto;
  padding: 0 0 20px 0;
  width: 1200px;
}
.header {
  margin: 0;
  padding: 0;
  background: #fff url(../images/header_bg.gif) top repeat-x;
}
/* logo */
.logo {
  width: 350px;
  margin: 0 auto;
  padding: 9px 0 0 0;
  float: left;
}
h1 {
  margin: 0;
  padding: 40px 0 0 40px;
  color: #999898;
  font: bold 36px/1.2em Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
  Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: -2px;
}
h1 a,
h1 a:hover {
  color: #999898;
  text-decoration: none;
}
h1 span {
  color: #e76610;
  font-size: 50px;
}
h1 small {
  padding-left: 122px;
  font: normal 13px/1.2em Arial, Helvetica, sans-serif;
  text-transform: none;
  letter-spacing: normal;
}
/*menu*/
.menu {
  padding: 0;
  margin: 0;
  width: 410px;
  float: right;
}
.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  float: right;
}
.menu ul li {
  float: left;
  margin: 0;
  padding: 0 5px;
  border: 0;
}
.menu ul li a {
  float: left;
  margin: 0;
  padding: 20px 0;
  color: #3f3f3f;
  font: bold 16px Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
  Arial, sans-serif;
  text-decoration: none;
}
.menu ul li a span {
  padding: 20px 10px;
  background: none;
}
.menu ul li a:hover {
  color: #fff;
  background: url(../images/r_menu.gif) no-repeat right;
}
.menu ul li a:hover span {
  color: #fff;
  background: url(../images/l_menu.gif) no-repeat left;
}
.menu ul li a.active {
  color: #fff;
  background: url(../images/r_menu.gif) no-repeat right;
}
.menu ul li a.active span {
  color: #fff;
  background: url(../images/l_menu.gif) no-repeat left;
}
/* header_text */
.header_text {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  background: url(../images/bg1.png) center no-repeat;
  height: 400px;
}
.header_text img {
  float: right;
  margin: 0;
  padding: 0 16px 0 0;
}
.header_text .textarea {
  width: 600px;
  margin: 0;
  padding: 40px 30px 0 80px;
  float: left;
}
.header_text .textarea p {
  font: 22px 华文行楷;
  color: #feffff;
  padding: 5px 0 0 0;
  margin: 0;
  line-height: 1.6em;
}
.header_text .textarea a {
  color: #feffff;
  text-decoration: underline;
}
/*body_1*/
.body_1_resize {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}
.body_1 {
  margin: 0;
  padding: 0;
}
.body_1 h2 {
  font: normal 24px Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
    Arial, sans-serif;
  color: #3f3f3f;
  padding: 10px 5px;
  margin: 5px 0 10px 0;
}
.body_1 h2 span {
  color: #959595;
  font: normal 12px Arial, Helvetica, sans-serif;
}
.body_1 p {
  font: normal 14px Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
    Arial, sans-serif;
  color: #5f5f5f;
  padding: 5px;
  margin: 0;
  line-height: 1.8em;
}
.body_1 p span {
  font: bold 14px Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
    Arial, sans-serif;
  color: #4b4b4b;
  padding: 0;
  margin: 0;
}
.body_1 img {
  float: left;
  margin: 5px;
  padding: 0;
}
.body_1 img.floated {
  float: right;
  margin: 5px 10px 5px 0;
  padding: 0;
}
.body_1 a {
  color: #ea5d00;
  text-decoration: underline;
}
.container-1 {
  float: left;
  width: 750px;
  margin: 0;
  padding: 0;
}
.container-2 {
  float: right;
  width: 280px;
  margin: 0;
  padding: 0;
}
.container-2 .search input {
  float: left;
  padding: 10px;
  margin: 30px 0px 10px 10px;
}
.container-2 .botton {
  background-color: #ea5d00;
  border-color: #ea5d00;
  color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  font-weight: 400;
}
.container-2 div.attention {
  padding: 20px 0 40px 0;
  margin: 10px 0 40px 0;
  border-top: 1px solid #dfdfdf;
}
.container-2 div.proverb {
  padding: 0;
  margin: 0;
  border-top: 1px solid #dfdfdf;
}
.container-2 div.guide {
  padding: 0;
  margin: 0;
  border-top: 1px solid #dfdfdf;
}
.container-2 a.guide {
  color: #000;
}
.container-2 img {
  width: 60px;
}
.container-2 ul {
  list-style: none;
  margin: 5px 0;
  padding: 0;
}
.container-2 li {
  font: normal 14px Helvetica, "Hiragino Sans GB", "Microsoft Yahei",
    "Helvetica, " Hiragino Sans GB ", " Microsoft Yahei ", " 微软雅黑
      ", Arial, sans-serif",
    Arial, sans-serif;
  color: #464646;
  padding: 5px 0;
  margin: 3px 0;
}

/* body_2 */
.body_2_resize {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  border-top: 1px solid #dfdfdf;
}
.body_2 {
  margin: 0;
  padding: 0;
}
.body_2 img {
  float: left;
  margin: 5px 10px 5px 0;
  padding: 0;
}
.body_2 h2 {
  font: normal 24px Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
    Arial, sans-serif;
  color: #3f3f3f;
  padding: 10px 5px;
  margin: 5px 0 10px 0;
}
.body_2 a {
  color: #ea5d00;
  text-decoration: underline;
}
.body_2 ul {
  list-style: none;
  margin: 5px 0;
  padding: 0;
}
.body_2 li {
  font: normal 14px Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
    Arial, sans-serif;
  color: #464646;
  padding: 5px 0;
  margin: 3px 0;
}
.body_2 li a {
  padding: 0 0 0 5px;
  margin: 0;
  font: normal 14px Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
    Arial, sans-serif;
  color: #5f5f5f;
  text-decoration: none;
}
.body_2 li a:hover {
  color: #ea5d00;
  text-decoration: none;
}
.body_2 th {
  font: normal 24px Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
    Arial, sans-serif;
  color: #3f3f3f;
  padding: 10px 5px;
  margin: 5px 0 10px 0;
}
.body_2 td {
  font: normal 14px Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
    Arial, sans-serif;
  color: #464646;
  padding: 5px 0;
  margin: 3px 0;
}
.body_2 td a {
  padding: 0 0 0 5px;
  margin: 0;
  font: normal 14px Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
    Arial, sans-serif;
  color: #5f5f5f;
  text-decoration: none;
}
.body_2 td a:hover {
  color: #ea5d00;
  text-decoration: none;
}
.body_2 .blok {
  width: 30%;
  float: left;
  padding: 0 8px;
  margin: 15px 5px 5px 5px;
}
/* footer */
.footer_resize {
  margin: 0 auto;
  padding: 25px 0;
  width: 1200px;
  border-top: 1px solid #dfdfdf;
}
.footer {
  padding: 0;
  margin: 10px auto;
}
.footer p {
  color: #5f5f5f;
  font: normal 12px Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
    Arial, sans-serif;
  padding: 0 0 0 5px;
  margin: 0;
  line-height: 1.8em;
}
.footer p a {
  color: #5f5f5f;
  font: normal 12px Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
    Arial, sans-serif;
}
/********** introduction（简历） **********/
#introduction {
  color: #000000;
}
#introduction h1 {
  color: #000000;
  font: normal Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑",
    Arial, sans-serif;
  text-align: center;
}
#introduction h2 {
  text-align: left;
  border-bottom: 1px solid #dfdfdf;
}
#introduction img {
  float: right;
}
#introduction p.left {
  float: left;
}
#introduction p.right {
  float: right;
}
/********** scroll（照片墙） **********/
.scroll {
  position: relative;
  display: inline-block;
  width: 740px;
  height: 500px;
}
.scroll .img {
  display: none;
  width: 740px;
  height: 550px;
}
.scroll .current {
  display: block;
}
.scroll .lf {
  position: absolute;
  top: 50%;
  left: 10px;
  background-image: url("../images/arrow.png");
  background-position: -83px 0;
  width: 41px;
  height: 69px;
  cursor: pointer;
  transform: translateY(-50%);
}
.scroll .lr {
  position: absolute;
  top: 50%;
  right: 10px;
  background-image: url("../images/arrow.png");
  background-position: -123px 0;
  width: 41px;
  height: 69px;
  cursor: pointer;
  transform: translateY(-50%);
}
.dots {
  position: absolute;
  bottom: 15px;
  right: 20px;
  width: 160px;
}
.dots > span {
  display: inline-block;
  box-sizing: border-box;
  width: 11px;
  height: 11px;
  border: 3px solid rgba(204, 204, 204, 0.2);
  border-radius: 15px;
  cursor: pointer;
}
.dots > span:not(:last-child) {
  margin-right: 5px;
}
.dots .square {
  background: #f46;
}

/********** 联系表单 **********/
#contactform {
  margin: 0;
  padding: 5px 10px;
}
#contactform * {
  color: #f00;
}
#contactform ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
#contactform li {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  display: block;
  clear: both;
}
#contactform li.buttons {
  margin: 5px 0 5px 0;
}
#contactform label {
  margin: 0;
  width: 110px;
  display: block;
  padding: 10px 0;
  color: #666;
  font: normal 12px Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  float: left;
}
#contactform label span {
  color: #f00;
}
#contactform input.text {
  width: 480px;
  border: 1px solid #c0c0c0;
  margin: 2px 0;
  padding: 5px 2px;
  height: 16px;
  background: #fff;
  float: left;
}
#contactform textarea {
  width: 480px;
  border: 1px solid #c0c0c0;
  margin: 2px 0;
  padding: 2px;
  background: #fff;
  float: left;
}
#contactform li.buttons input {
  border: 1px solid #000;
  background: #ea7d1b;
  padding: 10px;
  margin: 10px 0 0 110px;
  color: #fff;
  float: left;
  font: normal 12px Arial, Helvetica, sans-serif;
}
/********** 欢迎页 **********/
#welcome {
  width: 100%;
  margin: 30px;
  padding: 10px;
  float: left;
}
#welcome button{
  align-content: center;
  width: 10%;  
  margin: 0 0 0 11.5%;
  padding: 8px;  
  background-color: #e76610;  
  border-color: #e76610;  
  color: #fff;  
  -moz-border-radius: 10px;  
  -webkit-border-radius: 10px;  
  border-radius: 10px; /* future proofing */  
  -khtml-border-radius: 10px; /* for old Konqueror browsers */  
  text-align: center;  
  vertical-align: middle;  
  border: 1px solid transparent;  
  font-weight: 900;  
  font-size:125%
}